body{
  background-image: url('BG1.jpg');
  background-size: 100% 100%;
 }
.log{
	border: solid grray 1px;
	width:20%;
	margin:1px auto;
	background:white;
	padding:77;
	opacity:.5;
	float:right;
 
 }
 .reg{
	border: solid black 1px;
	width:20%;
	margin:100px auto;
	background:white;
	padding:80;
	opacity: 0.5;
	text-align:center;
 }
 